.positive {
  margin-top: 18px;
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
}

.qy__perc {
  color: teal;
}

.accent {
  color: orange;
}

.accent_critic {
  color: red;
}

.accent_splendid {
  color: rgb(40, 208, 40);
}

.card {
  transition: 250ms ease-in-out;
}

.card__content {
  overflow: hidden;
}
